# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated documentation
doc/api/

# Flutter build cache
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# Android signing keys
*.jks
*.keystore
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# macOS
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
.flutter_bootstrap.js
.flutter_service_worker.js

# Firebase
firebase-debug.log
firebase-debug.*.log

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json